<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WelcomePage</title>
</head>
<body>
<p th:text="'Hello, ' + ${userid} + '!'"></p>
<table border="1">
    <thead>
    <tr>
        <th>Department</th>
        <th>Student ID</th>
        <th>Marks</th>
        <th>Pass %</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.department}"></td>
        <td th:text="${student.studentId}"></td>
        <td th:text="${student.mark}"></td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>
